<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="allCards">
    <%for(let listing of allListings) {%>
    <a href="http://localhost:8080/listings/<%= listing._id %>">
      <div class="card" style="width: 18rem">
        <i class="fa-regular fa-heart"></i>
        <img src="<%= listing.image %>" class="card-img-top" alt="image" />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-title">
            <%= listing.location %>, <%= listing.country %>
          </p>
          <p class="card-text"><%= listing.title %></p>
          <p class="card-title">
            &#8377;<%= listing.price.toLocaleString("en-IN") %>
          </p>
        </div>
      </div>
    </a>
    <% }%>
  </div>
</body>
